
# ***** ***** ***** ***** Folder ***** ***** ***** *****
# 临时目录
temp
backup
.cache

# 依赖安装目录
node_modules

# 编辑器配置目录
.vscode
.idea


# ***** ***** ***** ***** File ***** ***** ***** *****
# Mac 目录变更缓存文件
.DS_Store


# 项目依赖详情文件
package-lock.json


# 其他
*copy.*

# ***** ***** ***** ***** Other ***** ***** ***** *****
# 测试文件或目录
*test*